
# Ignore vim files:
# Souce: https://github.com/tpope/dotfiles/blob/30b0609c6bdc38eb607530d6a1b603dbfdc8a8ef/.cvsignore
*~
.*.sw?
.sw?

# vim session file from
# https://github.com/tpope/vim-obsession
Session.vim

# common non-related to projects stuff
*.json
*.log
*.txt

# git mergetool backup
*.orig

# to be able to configure local hooks
\.pre-commit-hooks

tmp/*
