[core]
	editor = vim
	excludesfile = ~/.gitignore
	autocrlf = false
	eol = lf
	tabwidth = 2
[init]
	defaultBranch = master
[diff]
	wsErrorHighlight = old,new
	colorMovedWS = allow-indentation-change
	colorMoved = dimmed-zebra
[branch] # if a new branch tracks another branch, this variable tells Git to set up pull to rebase instead of merge
        autosetuprebase = always
[pull] # enforce --rebase on git pull
        rebase = true
